<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NvidaDriverChecker.DesktopApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <NvidaDriverChecker.DesktopApp.Properties.Settings>
            <setting name="UrlToCheck" serializeAs="String">
                <value>http://www.geforce.com/whats-new/tag/drivers</value>
            </setting>
            <setting name="PatternToStripContent" serializeAs="String">
                <value>(&lt;span class="date-display-single".*?&gt;.*?&lt;/span&gt;)</value>
            </setting>
            <setting name="UpdateIntervalMilliseconds" serializeAs="String">
                <value>86400000</value>
            </setting>
        </NvidaDriverChecker.DesktopApp.Properties.Settings>
    </applicationSettings>
</configuration>